$main-bg-color: #F4FAFA;
$dark-bg-color: rgba(14, 184, 14, 0.06);
$light-bg-color: #FFFFFF;
$main-hlt-color: #0EB80E;
$other-hlt-color: #FB974E;

$main-txt-color: #333333;
$light-txt-color: #818888;
$btn-txt-color-1: #FFFFFF;

$border-color-1: #DFDFDE;