@use '../abstracts/index.scss' as a;
@use '../abstracts/mixins.scss' as *;


.appt__img {
    max-width: 100%;
    min-width: 100%;
}

//Mobile version
@media screen and (max-width: 720px) {

    .appt {
        border-radius: 40px;
        background-color: a.$dark-bg-color;
        padding-bottom: 150px;
    }

    .appt__cta {
        position: relative;
        width: 94vw;
        height: 350px;
        margin-left: 3vw;
        border: 1px solid rgba(255, 0, 0, 0);
    }

    .appt__ad {
        position: absolute;
        left: 50%;
        bottom: 50%;
        width: 290px;
        height: 290px;
    }

    .appt__result {
        position: relative;
        width: 94vw;
        margin-left: 3vw;
    }

    .appt__img-box {
        position: absolute;
        right: 3vw;
        top: -60px;
        width: 135px;
        height: 284px;
    }

    .appt__form {
        align-items: center;
        padding-bottom: 30px;
    }

    .appt__question {
        margin-top: 70px;
        @include main-hlt-txt (1em, 400);
        text-transform: uppercase;
        opacity: 0.7;
    }

    .form__txt--align {
        width: 262px;
        text-align: left;
    }

    .appt__title-txt {
        @include large-txt (1.375em, 400);
    }

    .appt__title-txt--wrap {
        width: 55vw;
    }

    ol.appt__txt {
        padding-left: 20px;
    }

    .appt__txt li {
        width: 60vw;
    }

    .appt__cta-ln2::before {
        content: "\a";
        white-space: pre;
    }

    .appt__txt {
        @include main-txt (1em, 400);
        line-height: 1.75em;
        color: a.$main-txt-color;
        opacity: 0.7;
    }
}


//Tablet version
@media screen and (min-width: 721px) and (max-width: 960px) {

    .appt {
        border-radius: 40px;
        background-color: a.$dark-bg-color;
        padding-bottom: 220px;
    }

    .appt__cta {
        position: relative;
        width: 94vw;
        height: 260px;
        margin-left: 3vw;
        border: 1px solid rgba(255, 0, 0, 0);
    }

    .appt__ad {
        position: absolute;
        top: -100px;
        right: -80px;
        width: 290px;
        height: 290px;
    }

    .appt__result {
        position: relative;
        width: 94vw;
        margin-left: 3vw;
    }

    .appt__img-box {
        position: absolute;
        right: 3vw;
        top: -75px;
        width: 225px;
        height: 472px;
    }

    .appt__form {
        align-items: center;
        padding-bottom: 30px;
    }

    .appt__question {
        margin-top: 50px;
        @include main-hlt-txt (1em, 400);
        text-transform: uppercase;
        opacity: 0.7;
    }

    .form__txt--align {
        text-align: left;
        white-space: pre;
    }

    .appt__title-txt {
        @include large-txt (1.625em, 400);
    }

    .appt__title-txt--wrap {
        width: 55vw;
        margin-top: 40px;
        font-size: 1.375em;
    }

    ol.appt__txt {
        padding-left: 20px;
    }

    .appt__txt li {
        width: 60vw;
    }

    .appt__txt {
        width: 70vw;
        @include main-txt (1em, 400);
        line-height: 1.75em;
        color: a.$main-txt-color;
        opacity: 0.7;
    }
}


//Desktop version
@media screen and (min-width: 961px) and (max-width: 1919px) {

    .appt {
        border-radius: 40px;
        background-color: a.$dark-bg-color;
        padding-bottom: 160px;
    }

    .appt__cta {
        position: relative;
        width: 94vw;
        height: 260px;
        margin-left: 3vw;
        border: 1px solid rgba(255, 0, 0, 0);
    }

    .appt__ad {
        position: absolute;
        top: 30px;
        right: -30px;
        width: 290px;
        height: 290px;
    }

    .appt__result {
        position: relative;
        width: 94vw;
        margin-left: 3vw;
    }

    .appt__img-box {
        position: absolute;
        //right: 14vw;
        left: 60vw;
        top: -75px;
        width: 207px;
        height: 435px;
    }

    .appt__form {
        position: relative;
        align-items: center;
        padding-bottom: 30px;
    }

    .appt__question {
        margin-top: 50px;
        @include main-hlt-txt (1em, 400);
        text-transform: uppercase;
        opacity: 0.7;
    }

    .form__txt--align {
        text-align: left;
        white-space: pre;
    }

    .appt__title-txt {
        @include large-txt (1.875em, 400);
    }

    .appt__title-txt--wrap {
        width: 55vw;
        margin-top: 40px;
        font-size: 1.375em;
    }

    ol.appt__txt {
        padding-left: 20px;
    }

    .appt__txt li {
        width: 50vw;
    }

    .appt__txt {
        width: 70vw;
        @include main-txt (1.125em, 400);
        line-height: 1.875em;
        color: a.$main-txt-color;
        opacity: 0.7;
    }
}