@use '../abstracts/index.scss' as a;
@use '../abstracts/mixins.scss' as *;


.footer__img {
    max-width: 100%;
    min-width: 100%;
}

//Mobile version


@media screen and (max-width: 720px) {
    .footer {
        position: relative;
        height: 652px;
        border: 1px solid a.$border-color-2;
        border-radius: 80px;
    }

    .footer__bg {
        position: absolute;
        top: 6px;
        left: 8px;
        width: 100vw;
        height: 100%;
        background-color: a.$main-hlt-color;
        border-radius: 80px;
    }

    .footer__content {
        position: relative;
        display: grid;
        grid-template-rows: repeat (10, auto);
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    .footer__logo {
        width: 239px;
        height: 56px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .footer__social {
        display: flex;
    }

    .footer__social-link {
        width: 44px;
        height: 44px;
        margin: 6px;
    }

    .footer__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 73vw;
        height: 81px;
        margin-bottom: 38px;
        border-radius: 20px;
        @include main-txt (1.875em, 400);
        color: a.$main-hlt-color;
        background-color: a.$light-bg-color;
    }

    .footer__txt {
        @include main-txt (1.25em, 500);
        text-align: center;
        line-height: 135%;
        color: a.$xtra-light-txt-color;
    }

    .footer__link {
        @include main-txt (0.9375em, 400);
        line-height: 150%;
        color: a.$xtra-light-txt-color;
        letter-spacing: 0.03em;
        opacity: 0.5;
    }
}


//Tablet version
@media screen and (min-width: 721px) and (max-width: 960px) {

    .footer {
        position: relative;
        height: 442px;
        border: 1px solid a.$border-color-2;
        border-radius: 80px;
    }

    .footer__bg {
        position: absolute;
        top: 6px;
        left: 8px;
        width: 100vw;
        height: 100%;
        background-color: a.$main-hlt-color;
        border-radius: 80px;
    }

    .footer__content {
        position: relative;
        display: grid;
        grid-template: repeat(5, auto) / 7vw [content-start] repeat(6, auto) [content-end] 7vw;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    .footer__logo,
    .footer__social,
    .footer__address,
    .footer__btn {
        grid-column-start: content-start;
        grid-column-end: content-end;
    }

    .footer__link--rgt {
        grid-column-start: content-start;
    }

    .footer__logo {
        width: 239px;
        height: 56px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .footer__social {
        display: flex;
    }

    .footer__social-link {
        width: 44px;
        height: 44px;
        margin: 20px 6px;
    }

    .footer__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86vw;
        height: 100px;
        margin-bottom: 38px;
        border-radius: 20px;
        @include main-txt (2.75em, 400);
        color: a.$main-hlt-color;
        background-color: a.$light-bg-color;
    }

    .footer__txt {
        margin-top: 0;
        @include main-txt (1.25em, 500);
        text-align: center;
        line-height: 135%;
        color: a.$xtra-light-txt-color;
    }

    .footer__link {
        @include main-txt (0.9375em, 400);
        line-height: 150%;
        color: a.$xtra-light-txt-color;
        letter-spacing: 0.03em;
        opacity: 0.5;
    }
}


//Desktop version
@media screen and (min-width: 961px) and (max-width: 1919px) {

    .footer {
        position: relative;
        height: 442px;
        border: 1px solid a.$border-color-2;
        border-radius: 80px;
    }

    .footer__bg {
        position: absolute;
        top: 6px;
        left: 8px;
        width: 100vw;
        height: 100%;
        background-color: a.$main-hlt-color;
        border-radius: 80px;
    }

    .footer__content {
        position: relative;
        display: grid;
        grid-template: repeat(3, auto) / 7vw [content-start] repeat(6, auto) [logo-end social-start] 26vw [content-end] 7vw;
        align-items: center;
        height: 100%;
    }

    .footer__logo,
    .footer__link--rgt,
    .footer__btn {
        grid-column-start: content-start;
    }

    .footer__social,
    .footer__address {
        grid-column-start: social-start;
    }

    .footer__social,
    .footer__address,
    .footer__btn {
        grid-column-end: content-end;
    }

    .footer__logo {
        grid-column-end: logo-end;
        width: 239px;
        height: 56px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .footer__social {
        grid-row-start: 1;
        display: flex;
        margin-top: 16px;
    }

    .footer__social-link {
        width: 44px;
        height: 44px;
        margin: 20px 6px;
    }

    .footer__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86vw;
        height: 100px;
        margin-bottom: 38px;
        border-radius: 20px;
        @include main-txt (2.75em, 400);
        color: a.$main-hlt-color;
        background-color: a.$light-bg-color;
    }

    .footer__txt {
        margin-top: 0;
        @include main-txt (1.25em, 500);
        line-height: 135%;
        color: a.$xtra-light-txt-color;
    }

    .footer__link {
        @include main-txt (0.9375em, 400);
        line-height: 150%;
        color: a.$xtra-light-txt-color;
        letter-spacing: 0.03em;
        opacity: 0.5;
    }
}


//Wide-screen version
@media screen and (min-width: 1900px) {
    .footer {
        position: relative;
        height: 442px;
        border: 1px solid a.$border-color-2;
        border-radius: 80px;
    }

    .footer__bg {
        position: absolute;
        top: 6px;
        left: 8px;
        width: 100vw;
        height: 100%;
        background-color: a.$main-hlt-color;
        border-radius: 80px;
    }

    .footer__content {
        position: relative;
        display: grid;
        grid-template: repeat(3, auto) / 7vw [content-start] repeat(6, auto) [logo-end social-start] 26vw [content-end] 7vw;
        align-items: center;
        height: 100%;
    }

    .footer__logo,
    .footer__link--rgt,
    .footer__btn {
        grid-column-start: content-start;
    }

    .footer__social,
    .footer__address {
        grid-column-start: social-start;
    }

    .footer__social,
    .footer__address,
    .footer__btn {
        grid-column-end: content-end;
    }

    .footer__logo {
        grid-column-end: logo-end;
        width: 239px;
        height: 56px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .footer__social {
        grid-row-start: 1;
        display: flex;
        margin-top: 16px;
    }

    .footer__social-link {
        width: 44px;
        height: 44px;
        margin: 20px 6px;
    }

    .footer__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86vw;
        height: 100px;
        margin-bottom: 38px;
        border-radius: 20px;
        @include main-txt (2.75em, 400);
        color: a.$main-hlt-color;
        background-color: a.$light-bg-color;
    }

    .footer__txt {
        margin-top: 0;
        @include main-txt (1.25em, 500);
        line-height: 135%;
        color: a.$xtra-light-txt-color;
    }

    .footer__link {
        @include main-txt (0.9375em, 400);
        line-height: 150%;
        color: a.$xtra-light-txt-color;
        letter-spacing: 0.03em;
        opacity: 0.5;
    }
}