@use '../abstracts/index.scss' as a;

.root {
    background-color: a.$main-bg-color;
    overflow: hidden;
}

.root__section {
    min-width: 300px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}