@use '../abstracts/index.scss' as a;
@use '../abstracts/mixins.scss' as *;


.header__img {
    min-width: 100%;
    max-width: 100%;
}


//Mobile version
@media screen and (max-width: 720px) {

    .header__info {
        display: grid;
        grid-template: 75px / 1fr 66px 40px;
        align-items: center;
    }

    .header__home {
        margin-left: 10px;
        width: 133px;
        height: 43px;
    }

    .header__tel,
    .header__call-btn--dsk {
        display: none;
    }

    .header__call-btn {
        width: 43px;
        height: 43px;
    }

    .header__name1 {
        @include large-txt (2em, 300);
        text-align: center;
    }

    .header__name2 {
        @include cursive (1.625em, center);
    }

    .header__graphic {
        display: flex;
        flex-direction: column;
        background-image: url(../images/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: 103% 80px;
    }

    .header__img-box {
        align-self: flex-end;
        max-width: 350px;
    }
}

//Tablet version
@media screen and (min-width: 721px) and (max-width: 960px) {

    .header {
        background-image: url(../images/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: 86% 10px;
    }

    .header__info {
        display: grid;
        grid-template: 75px / 1fr 150px 181px 40px;
        align-items: center;
    }

    .header__home {
        margin-left: 10px;
        width: 133px;
        height: 43px;
    }

    .header__tel {
        @include main-txt (1em, 400);
        color: a.$main-txt-color;
        letter-spacing: 0.01em;
    }

    // .header__call-btn {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 164px;
    //     height: 37px;
    //     border: 1px solid a.$border-color-1;
    //     border-radius: 10px;
    //     @include main-txt (0.875em, 400);
    //     color: a.$main-hlt-color;
    // }

    .header__call-btn--mbl {
        display: none;
    }

    .header__call-btn--dsk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 37px;
        border: 1px solid a.$border-color-1;
        border-radius: 10px;
        @include main-txt (0.875em, 400);
        color: a.$main-hlt-color;
    }

    .header__graphic {
        position: relative;
        height: 380px;
    }

    .header__img-box {
        position: absolute;
        right: 59px;
        top: 40px;
    }

    .header__name {
        padding-top: 20px;
    }

    .header__name1 {
        @include large-txt (2.5em, 300);
        margin: 0;
    }

    .header__name2 {
        @include cursive (1.625em, auto);
    }
}