@use '../abstracts/index.scss' as a;
@use '../abstracts/mixins.scss' as *;


.header__img {
    min-width: 100%;
    max-width: 100%;
}

.header__menu {
    width: 30px;
    height: 22px;
}

.header__tel:hover,
.header__link:hover {
    text-decoration: underline;
}

.header__call-btn--dsk:hover {
    color: a.$btn-txt-color-1;
    border: 1px solid a.$main-hlt-color;
    background-color: a.$main-hlt-color;
}

.form__tel:focus,
.form__issue:focus {
    outline-color: a.$main-hlt-color;
}


//Mobile version
@media screen and (max-width: 720px) {

    .header__info {
        display: grid;
        grid-template: 75px / 1fr 66px 40px;
        align-items: center;
    }

    .header__home {
        margin-left: 10px;
        width: 133px;
        height: 43px;
    }

    .header__tel,
    .header__call-btn--dsk,
    .header__nav,
    .header__social {
        display: none;
    }

    .header__call-btn--mbl {
        width: 43px;
        height: 43px;
    }

    .header__name1 {
        @include large-txt (2em, 300);
        text-align: center;
    }

    .header__name2 {
        @include cursive (1.625em, center);
    }

    .header__graphic {
        display: flex;
        flex-direction: column;
        background-image: url(../images/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: 100% 70px;
    }

    .header__img-box {
        align-self: flex-end;
        width: 390px;
        margin-right: 3px;
    }
}

//Tablet version
@media screen and (min-width: 721px) and (max-width: 960px) {

    .header {
        background-image: url(../images/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
    }

    .header__info {
        display: grid;
        grid-template: 75px / 1fr 150px 181px 40px;
        align-items: center;
    }

    .header__home {
        margin-left: 12px;
        width: 133px;
        height: 43px;
    }

    .header__nav,
    .header__call-btn--mbl,
    .header__social {
        display: none;
    }

    .header__tel {
        @include main-txt (1em, 400);
        color: a.$main-txt-color;
        letter-spacing: 0.01em;
    }

    .header__call-btn--dsk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 37px;
        border: 1px solid a.$border-color-1;
        border-radius: 10px;
        @include main-txt (0.875em, 400);
        color: a.$main-hlt-color;
    }

    .header__graphic {
        position: relative;
        height: 380px;
    }

    .header__img-box {
        position: absolute;
        right: -4px;
        top: 45px;
        width: 400px;
    }

    .header__name {
        margin-left: 12px;
        padding-top: 20px;
    }

    .header__name1 {
        @include large-txt (2.5em, 300);
        margin: 0;
    }

    .header__name2 {
        @include cursive (1.625em, start);
    }
}


//Desktop version
@media screen and (min-width: 961px) and (max-width: 1900px) {

    .header {
        background-image: url(../images/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: 100% 20px;
    }

    .header__info {
        display: grid;
        grid-template: 75px / 1fr 15% minmax(190px, 15%) 42px;
        align-items: center;
        margin-top: 20px;
    }

    .header__home {
        margin-left: 12px;
        width: 246px;
        height: 73px;
    }

    .header__nav,
    .header__call-btn--mbl,
    .header__social {
        display: none;
    }

    .header__tel {
        @include main-txt (1em, 400);
        color: a.$main-txt-color;
        letter-spacing: 0.01em;
    }

    .header__call-btn--dsk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 37px;
        border: 1px solid a.$border-color-1;
        border-radius: 10px;
        @include main-txt (0.875em, 400);
        color: a.$main-hlt-color;
    }

    .header__graphic {
        position: relative;
        height: 380px;
    }

    .header__img-box {
        position: absolute;
        right: -4px;
        top: 65px;
        width: 400px;
    }

    .header__name {
        margin-left: 12px;
        padding-top: 50px;
    }

    .header__name1 {
        @include large-txt (3.75em, 300);
        margin: 0;
    }

    .header__name2 {
        @include cursive (2.25em, start);
    }
}


//Wide-screen version
@media screen and (min-width: 1901px) {

    .header {
        background-image: url(../images/intro-bg-wide.svg);
        background-repeat: no-repeat;
        background-position: 100% 125px;
    }

    .header__info {
        display: grid;
        grid-template: 75px / 310px 1fr 150px 177px 191px;
        align-items: center;
        margin-top: 20px;
    }

    .header__call-btn--mbl,
    .header__menu {
        display: none;
    }

    .header__home {
        margin-left: 60px;
        width: 246px;
        height: 73px;
    }

    .header__nav {
        justify-self: center;
        display: flex;
        justify-content: space-between;
        width: 31vw;
    }

    .header__tel {
        @include main-txt (1em, 400);
        color: a.$main-txt-color;
        letter-spacing: 0.01em;
    }

    .header__call-btn--dsk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 37px;
        border: 1px solid a.$border-color-1;
        border-radius: 10px;
        @include main-txt (0.875em, 400);
        color: a.$main-hlt-color;
    }

    .header__social {
        display: flex;
    }

    .header__social-link {
        width: 37px;
        height: 37px;
        margin-right: 10px;
    }

    .header__social-link--insta {
        background-image: url(../images/insta-header.svg);
    }

    .header__social-link--vk {
        background-image: url(../images/vk-header.svg);
    }

    .header__social-link--wa {
        background-image: url(../images/whatsapp-header.svg);
    }

    .header__social-link--insta,
    .header__social-link--vk,
    .header__social-link--wa {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__social-link--insta:hover {
        background-image: url(../images/insta-dk.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__social-link--vk:hover {
        background-image: url(../images/vk-dk.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__social-link--wa:hover {
        background-image: url(../images/whatsapp-dk.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__name {
        margin-left: 10vw;
        padding-top: 140px;
    }

    .header__name1 {
        @include large-txt (3.75em, 300);
        margin: 0;
    }

    .header__name2 {
        margin: 0;
        @include cursive (2.5em, start);
        line-height: 2.5em;
        letter-spacing: 0.03em;
    }

    .header__link {
        @include main-txt (0.9375em, 400);
        color: a.$main-txt-color;
    }

    .header__graphic {
        position: relative;
        height: 678px;
    }

    .header__img-box {
        position: absolute;
        top: 130px;
        right: 358px;
        width: 583px;
    }
}