@use '../abstracts/index.scss' as a;
@use '../abstracts/mixins.scss' as *;

.form__btn:hover {
    color: a.$main-hlt-color;
    border: 1px solid a.$main-hlt-color;
    background-color: a.$light-bg-color;
    cursor: pointer;
}


//Mobile version
@media screen and (max-width: 720px) {

    .form {
        @include contact-form;
    }

    .request__form {
        position: relative;
        bottom: 45px;
        height: 421px;
    }

    .form__input {
        display: grid;
        grid-template: 77px 83px 79px 1fr / [form-start] 21% 79% [form-end];
        justify-items: center;
    }

    .form__tel,
    .form__issue {
        @include input-box (a.$border-color-1);
    }

    .form__tel,
    .form__issue,
    .form__btn {
        grid-column-start: form-start;
        grid-column-end: form-end;
        width: 262px;
        height: 57px;
    }

    .form__ck-bx {
        justify-self: end;
        width: 20px;
        height: 20px;
    }


    .form__btn {
        @include input-box (a.$main-hlt-color);
        @include grn-btn-txt (1.25em);
        background-color: a.$main-hlt-color;
    }

    .form__txt {
        @include large-txt (1em, 500);
        line-height: 1.5em;
    }

    .form__txt--center {
        text-align: center;
    }

    .form__tel {
        @include form-txt (1.125em, center);
        line-height: 1.5625em;
        letter-spacing: -0.01em;
    }

    .form__issue {
        @include form-txt (1.125em, auto);
        line-height: 1.5625em;
        letter-spacing: 0.03em;
    }

    .form__consent {
        justify-self: start;
        margin-left: 10px;
        @include form-txt (0.875em, auto);
        color: a.$main-txt-color;
        opacity: 0.3;
    }

    .form__consent--underline {
        text-decoration: underline;
    }
}


//Tablet version
@media screen and (min-width: 721px) and (max-width: 960px) {

    .form {
        @include contact-form;
        align-items: center;
    }

    .request__form {
        position: relative;
        bottom: 40px;
        height: 255px;
    }

    .form__input {
        display: grid;
        grid-template: 80px 50px / [phone-start] 30px [consent-start] 1fr [phone-end] 39vw 19vw [consent-end];
    }

    .form__tel {
        grid-column-start: phone-start;
        grid-column-end: phone-end;
    }

    .form__consent {
        grid-column-start: consent-start;
        grid-column-end: consent-end;
    }

    .form__txt,
    .form__input {
        width: 86vw;
    }

    .form__tel,
    .form__issue,
    .form__btn {
        height: 57px;
    }

    .form__tel {
        width: 89%;
    }

    .form__issue {
        width: 92%;
    }

    .form__tel,
    .form__issue {
        @include input-box (a.$border-color-1);
    }

    .form__btn {
        @include input-box (a.$main-hlt-color);
        @include grn-btn-txt (1.25em);
        background-color: a.$main-hlt-color;
    }

    .form__ck-bx {
        width: 20px;
        height: 20px;
    }

    .form__txt {
        margin-top: 40px;
        @include large-txt (1.125em, 500);
        line-height: 1.5em;
    }

    .form__tel {
        @include form-txt (1.125em, center);
        line-height: 1.5625em;
        letter-spacing: 0.05em;
    }

    .form__issue {
        @include form-txt (1.125em, auto);
        line-height: 1.5625em;
        letter-spacing: 0.03em;
    }

    .form__consent {
        @include form-txt (0.875em, auto);
        color: a.$main-txt-color;
        line-height: 1.25em;
        opacity: 0.3;
    }

    .form__consent--underline {
        text-decoration: underline;
    }
}


//Desktop version
@media screen and (min-width: 961px) and (max-width: 1900px) {

    .form {
        @include contact-form;
        align-items: center;
    }

    .request__form {
        position: relative;
        bottom: 50px;
        height: 255px;
    }

    .form__input {
        display: grid;
        grid-template: 80px 50px / [phone-start] 30px [consent-start] 1fr [phone-end] 39vw 19vw [consent-end];
    }

    .form__tel {
        grid-column-start: phone-start;
        grid-column-end: phone-end;
    }

    .form__consent {
        grid-column-start: consent-start;
        grid-column-end: consent-end;
    }

    .form__txt,
    .form__input {
        width: 86vw;
    }

    .form__tel,
    .form__issue,
    .form__btn {
        height: 57px;
    }

    .form__tel {
        width: 89%;
    }

    .form__issue {
        width: 92%;
    }

    .form__tel,
    .form__issue {
        @include input-box (a.$border-color-1);
    }

    .form__btn {
        @include input-box (a.$main-hlt-color);
        @include grn-btn-txt (1.25em);
        background-color: a.$main-hlt-color;
    }

    .form__ck-bx {
        width: 20px;
        height: 20px;
    }

    .form__txt {
        margin-top: 40px;
        @include large-txt (1.125em, 500);
        line-height: 1.5em;
    }

    .form__tel {
        @include form-txt (1.125em, center);
        line-height: 1.5625em;
        letter-spacing: 0.05em;
    }

    .form__issue {
        @include form-txt (1.125em, auto);
        line-height: 1.5625em;
        letter-spacing: 0.03em;
    }

    .form__consent {
        @include form-txt (0.875em, auto);
        color: a.$main-txt-color;
        line-height: 1.25em;
        opacity: 0.3;
    }

    .form__consent--underline {
        text-decoration: underline;
    }
}


//Wide-screen version
@media screen and (min-width: 1900px) {

    .form {
        @include vert-flex;
        justify-content: space-around;
        background-color: a.$light-bg-color;
        border-radius: 20px;
        align-items: center;
    }

    .request__form {
        position: relative;
        top: -280px;
        left: 8vw;
        width: 730px;
        height: 258px;
    }

    .form__input {
        display: grid;
    }

    .form__input--hrzn {
        grid-template: 80px 50px / [phone-start] 30px [consent-start] 1fr [phone-end] 39% 19% [consent-end];
    }

    .form__tel--hrzn {
        grid-column-start: phone-start;
        grid-column-end: phone-end;
    }

    .form__consent {
        grid-column-start: consent-start;
        grid-column-end: consent-end;
    }

    .form__txt--center,
    .form__input--hrzn {
        width: 86%;
    }

    .form__tel,
    .form__issue,
    .form__btn {
        height: 57px;
    }

    .form__tel--hrzn {
        width: 89%;
    }

    .form__issue--hrzn {
        width: 92%;
    }

    .form__tel,
    .form__issue {
        @include input-box (a.$border-color-1);
    }

    .form__btn {
        @include input-box (a.$main-hlt-color);
        @include grn-btn-txt (1.25em);
        background-color: a.$main-hlt-color;
    }

    .form__ck-bx {
        width: 20px;
        height: 20px;
    }

    .form__txt {
        margin-top: 40px;
        @include large-txt (1.125em, 500);
        line-height: 1.5em;
    }

    .form__tel {
        @include form-txt (1.125em, center);
        line-height: 1.5625em;
        letter-spacing: 0.05em;
    }

    .form__issue {
        @include form-txt (1.125em, auto);
        line-height: 1.5625em;
        letter-spacing: 0.03em;
    }

    .form__consent {
        @include form-txt (0.875em, auto);
        color: a.$main-txt-color;
        line-height: 1.25em;
        opacity: 0.3;
    }

    .form__consent--underline {
        text-decoration: underline;
    }
}