.root {
  background-color: #F4FAFA;
  overflow: hidden;
}

.root__section {
  min-width: 300px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.header__img {
  min-width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 720px) {
  .header__info {
    display: grid;
    grid-template: 75px/1fr 66px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__home {
    margin-left: 10px;
    width: 133px;
    height: 43px;
  }
  .header__tel,
  .header__call-btn--dsk {
    display: none;
  }
  .header__call-btn {
    width: 43px;
    height: 43px;
  }
  .header__name1 {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #333333;
    text-align: center;
  }
  .header__name2 {
    font-family: "Caveat", cursive;
    font-size: 1.625em;
    font-weight: 400;
    text-align: center;
    color: #0EB80E;
  }
  .header__graphic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../images/intro-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 70px;
  }
  .header__img-box {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 390px;
    margin-right: 3px;
  }
}
@media screen and (min-width: 721px) and (max-width: 960px) {
  .header {
    background-image: url(../images/intro-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  .header__info {
    display: grid;
    grid-template: 75px/1fr 150px 181px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__home {
    margin-left: 10px;
    width: 133px;
    height: 43px;
  }
  .header__tel {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.01em;
  }
  .header__call-btn--mbl {
    display: none;
  }
  .header__call-btn--dsk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 164px;
    height: 37px;
    border: 1px solid #DFDFDE;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    color: #0EB80E;
  }
  .header__graphic {
    position: relative;
    height: 380px;
  }
  .header__img-box {
    position: absolute;
    right: -4px;
    top: 45px;
    width: 400px;
  }
  .header__name {
    margin-left: 10px;
    padding-top: 20px;
  }
  .header__name1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: #333333;
    margin: 0;
  }
  .header__name2 {
    font-family: "Caveat", cursive;
    font-size: 1.625em;
    font-weight: 400;
    text-align: auto;
    color: #0EB80E;
  }
}
@media screen and (max-width: 720px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 94vw;
    margin-left: 3vw;
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  .request__form {
    position: relative;
    bottom: 45px;
    height: 421px;
  }
  .form__input {
    display: grid;
    grid-template: 77px 83px 79px 1fr/[form-start] 21% 79% [form-end];
    justify-items: center;
  }
  .form__tel,
  .form__issue {
    border: 1px solid #DFDFDE;
    border-radius: 15px;
  }
  .form__tel,
  .form__issue,
  .form__btn {
    grid-column-start: form-start;
    grid-column-end: form-end;
    width: 262px;
    height: 57px;
  }
  .form__ck-bx {
    justify-self: end;
    width: 20px;
    height: 20px;
  }
  .form__btn {
    border: 1px solid #0EB80E;
    border-radius: 15px;
    background-color: #0EB80E;
  }
  .form__txt {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }
  .form__txt--center {
    text-align: center;
  }
  .form__tel {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #818888;
    line-height: 25px;
    letter-spacing: -0.01em;
  }
  .form__issue {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: auto;
    color: #818888;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .form__btn {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.03em;
  }
  .form__consent {
    justify-self: start;
    margin-left: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: auto;
    color: #818888;
    color: #333333;
    opacity: 0.3;
  }
  .form__consent--underline {
    text-decoration: underline;
  }
}
@media screen and (max-width: 720px) {
  .appt {
    border-radius: 40px;
    background-color: rgba(14, 184, 14, 0.06);
    padding-bottom: 150px;
  }
  .appt__cta {
    position: relative;
    width: 94vw;
    height: 350px;
    margin-left: 3vw;
    border: 1px solid rgba(255, 0, 0, 0);
  }
  .appt__ad {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 290px;
    height: 290px;
  }
  .appt__result {
    position: relative;
    width: 94vw;
    margin-left: 3vw;
  }
  .appt__img-box {
    position: absolute;
    right: 3vw;
    top: -60px;
    width: 135px;
    height: 284px;
  }
  .appt__img {
    max-width: 100%;
    min-width: 100%;
  }
  .appt__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  .appt__question {
    margin-top: 70px;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #0EB80E;
    text-transform: uppercase;
    opacity: 0.7;
  }
  .form__txt--align {
    width: 262px;
    text-align: left;
  }
  .appt__title-txt {
    font-family: "Raleway", sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    color: #333333;
  }
  .appt__title-txt--wrap {
    width: 55vw;
  }
  ol.appt__txt {
    padding-left: 20px;
  }
  .appt__txt li {
    width: 60vw;
  }
  .appt__cta-ln2::before {
    content: "\a";
    white-space: pre;
  }
  .appt__txt {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    color: #333333;
    opacity: 0.7;
  }
}
@media screen and (max-width: 720px) {
  .test {
    height: 230px;
  }
  .test__card {
    position: relative;
    top: -140px;
    width: 370px;
    height: 295px;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
    background-image: url(../images/card.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: -50px;
  }
  .test__card-txt {
    -ms-flex-item-align: end;
        align-self: end;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #333333;
    color: #333333;
    -webkit-transform: rotate(-7.47deg);
            transform: rotate(-7.47deg);
    text-align: center;
    letter-spacing: 0.02em;
    white-space: pre;
  }
  .test__card-btn {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 30px;
    width: 250px;
    height: 57px;
    border: 1px solid #FB974E;
    border-radius: 15px;
    padding: 15px 24px;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #FB974E;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    position: relative;
    height: 652px;
    border: 1px solid #000000;
    border-radius: 80px;
  }
  .footer__bg {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 100vw;
    height: 100%;
    background-color: #0EB80E;
    border-radius: 80px;
  }
  .footer__content {
    position: relative;
    display: grid;
    grid-template-rows: repeat 10, auto;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .footer__logo {
    width: 239px;
    height: 56px;
    margin-top: 36px;
    margin-bottom: 15px;
  }
  .footer__img {
    max-width: 100%;
    min-width: 100%;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social-link {
    width: 44px;
    height: 44px;
    margin: 6px;
  }
  .footer__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 73vw;
    height: 81px;
    margin-bottom: 38px;
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 1.875em;
    font-weight: 400;
    color: #0EB80E;
    background-color: #FFFFFF;
  }
  .footer__txt {
    font-family: "Nunito", sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    line-height: 135%;
    color: #FFFFFF;
  }
  .footer__link {
    font-family: "Nunito", sans-serif;
    font-size: 0.9375em;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    opacity: 0.5;
  }
}
@media screen and (max-width: 720px) {
  .copyright__txt {
    margin-top: 40px;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    color: #333333;
  }
}/*# sourceMappingURL=styles.css.map */