.root {
  background-color: #F4FAFA;
}

.root__section {
  min-width: 300px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .header__info {
    display: grid;
    grid-template: 75px/1fr 66px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__home {
    margin-left: 10px;
  }
  .header__name1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: #333333;
  }
  .header__name2 {
    font-family: "Caveat", cursive;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #0EB80E;
  }
  .header__graphic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../images/intro-bg.svg);
    background-repeat: no-repeat;
    background-position: 103% 80px;
  }
  .header__img-box {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 350px;
  }
  .header__img {
    min-width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .request {
    position: relative;
    bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 94vw;
    height: 421px;
    margin-left: 3vw;
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  .request__form {
    display: grid;
    grid-template: 77px 83px 69px 1fr/[form-start] 21% 79% [form-end];
    justify-items: center;
  }
  .request__tel,
  .request__issue {
    border: 1px solid #DFDFDE;
    border-radius: 15px;
  }
  .request__tel,
  .request__issue,
  .request__btn {
    grid-column-start: form-start;
    grid-column-end: form-end;
    width: 262px;
    height: 57px;
  }
  .request__ck-bx {
    justify-self: end;
    width: 20px;
    height: 20px;
  }
  .request__btn {
    border: 1px solid #0EB80E;
    border-radius: 15px;
    background-color: #0EB80E;
  }
  .request__txt {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #333333;
  }
  .request__tel {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #818888;
    line-height: 25px;
    letter-spacing: -0.01em;
  }
  .request__issue {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: auto;
    color: #818888;
    line-height: 25px;
    letter-spacing: 0.03em;
  }
  .request__btn {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.03em;
  }
  .request__consent-txt {
    justify-self: start;
    margin-left: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: auto;
    color: #818888;
    color: #333333;
    opacity: 0.3;
  }
  .request__consent-txt--underline {
    text-decoration: underline;
  }
}/*# sourceMappingURL=styles.css.map */